.main-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

.view-news{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.view-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.view-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
}